*,*::before,*::after{box-sizing: border-box;margin: 0;padding: 0;}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 40;
  cursor:pointer;
}

body{font-family: 'Courier New', Courier, monospace}
a {text-decoration:none}
ul {list-style:none}
:root{--mainColor : #222b36}
aside {background-color: var(--mainColor);height:100vh;display:none}
aside a {color:#919eab;}
aside a.active {color: #f4f6f8}


header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}

