.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.content .form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

.content .form > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 500px;
    margin: 10px 0;
}

.content .form div input {
    width: 100%;
    height: 35px;
    border: 2px solid rgb(100, 95, 95);
    font-family: Tahoma, Arial, sans-serif;
    color:black;
    font-size: 14px;
    font-weight: 500;
}

.password {margin:0 !important; width: 500px;display: flex;justify-content: space-between;align-items: center;border:2px solid rgb(100, 95, 95);}
.password span {cursor:pointer}
.content .form div input:focus {
    outline: none;
    border-color: rgb(17, 17, 17);
}

.password input{
    border: none !important;
    flex-grow: 1 !important;
    width: 80% !important;
}

.password input:focus{
    border:none !important;
    outline : none !important;
}

.content .form .submit {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

}


.content .form .submit input {
    width: 80px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #00336f;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .content .form {
        width: 93%;
    }
    .content .form > div {
        width: 100%;
    }

    .content .form .submit{
        flex-flow: column nowrap;
        align-items: center;
        height: 100px;
    }
    .content .form .submit input{
        width: 200px;
    }
}