{% extends 'base.html'%}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">
{% endblock %}


{% block main_area %}

<div class="content">
    <h1>Hi , I'm Cheikhsidiya </h1>
    <div class="title">Career Goals : </div>
    <ul>
        <li>Aspiring to become a successful software developer, specializing in building robust and scalable applications.</li>
        <li>Seeking freelance opportunities to gain practical experience and contribute to real-world projects.</li>
    </ul>

    <div class="title">Interests</div>
    <ul>
        <li>Passionate about exploring new technologies and staying up-to-date with the latest advancements in software development.</li>
        <li>nterested in freelance jobs to enhance skills, gain professional exposure, and work with diverse clients.</li>
    </ul>
</div>

{% endblock %}