<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <meta name="author" content="Cheikhsidiya">
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{url_for('static',filename='css/admin.css')}}">
        <script defer type="text/javascript" src="{{url_for('static',filename='js/admin.js')}}"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
        <div class="content">
                <aside>
                        <a href="/admin">
                                <span class="material-symbols-outlined">home</span>
                                Dashboard
                        </a>
                        <ul >
                                <li><a href="" title="Users">Users</a></li>
                                <li><a href="" title="Todos">Todos</a></li>
                                <li><a href="" title="Statistics">Statistics</a></li>
                        </ul>
        
                </aside>
        
                <header>
                        <span class="material-symbols-outlined">menu</span>
                        <a href="/logout" title="logout">logout</a>
                        
                </header>
        </div>
</body>
</html>