{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    <script defer src="{{url_for('static',filename='js/login.js')}}"></script>
{% endblock %}

{% block main_area %}
    <div class="content">
        <form action="" method="post" class="form">
            {{form.hidden_tag()}}
            <div>
                {{form.username.label}}
                {{form.username()}}
            </div>

            <div>
                {{form.password.label}}
                <div class="password">
                    {{form.password()}}
                    <span>show</span>
                </div>
            </div>
            <div class="submit">
                {{form.submit()}}
                <a  href="/login" title="login">Already Have An Account?</a>
                
            </div>
        </form>
    </div>
{% endblock %}