{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}">
    <script defer src="{{url_for('static',filename='js/register.js')}}"></script>
{% endblock%}

{% block main_area%}
<div class="content">
    <h2>Create New Account : </h2>
    <form class="form" action="" method="post">
        {{ form.hidden_tag() }}

        <div>
            {{form.username.label}}
            {{form.username()}}
        </div>

        <div>
            {{form.email.label}}
            {{form.email()}}
        </div>
        <div>
            {{form.password.label}}
            <div class="password">
                {{form.password}}
                <span>show</span>
            </div>
        </div>


        <div>
            {{form.password_confirm.label}}
            <div class="password">
                {{form.password_confirm()}}
                <span>show</span>
            </div>
        </div>

        <div class="submit">
            {{form.submit(value="Register")}}
            <a  href="/login" title="login">Already Have An Account?</a>
        </div>
    </form>
</div>

{% endblock %}