<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <meta name="author" content="Cheikhsidiya">
        <link rel="stylesheet" href="{{url_for('static',filename='css/users.css')}}">
        <script defer type="text/javascript" src="{{url_for('static',filename='js/admin.js')}}"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
        <div class="main">
                <aside>
                        <div class="links">
                                <a class="active" href="/admin">
                                        <span class="material-symbols-outlined">home</span>
                                        Dashboard
                                </a>
                                <ul >
                                        <li><a href="users" title="Users">Users</a></li>
                                        <li><a href="todos" title="Todos">Todos</a></li>
                                </ul>
                        </div>
        
                </aside>
                <div class="content">

        
                        <header>
                                <span class="material-symbols-outlined">menu</span>
                                <span class="material-symbols-outlined"><a href="/logout">logout</a></span>
                                
                        </header>

                        <table>
                                <thead>
                                        <tr>
                                                <th>ID</th>
                                                <th>Username</th>
                                                <th>Email</th>
                                                <th>Date</th>
                                                <th>Admin</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        {% for user in Users%}
                                        <tr>
                                                <td>{{user.id}}</td>
                                                <td>{{user.username}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.created_at}}</td>
                                                <td>{{user.is_admin}}</td>
                                        </tr>
                                        {% endfor %}
                                </tbody>
                        </table>
                </div>
        </div>

</body>
</html>